<html>
<head>
    <title>Magazine - Homepage</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="stylesheets/fonts.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="stylesheets/style.css"> <!-- load fontawesome -->
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-ui-router.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/jquery-min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body ng-app="magazine">
  <div ui-view></div>
</body>
</html>
